root = true

[*]
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

#iMCvQBMDume7oGZi9iPy@*zQ-oknwH

# 🔧 EDICIÓN
# | Ctrl + L					→ Selecciona la línea actual
# | Ctrl + Shift + K			→ Elimina la línea entera
# | Ctrl + D					→ Selecciona la palabra bajo el cursor
# | Alt + ↑/↓					→ Mueve la línea arriba/abajo
# | Ctrl + ] / Ctrl + [			→ Indenta/desindenta
# | Ctrl + /					→ Comenta/descomenta

# 🔍 REFACTORIZACIÓN
# | F2							→ Renombrar variable/función
# | F12							→ Ir a la definición
# | Ctrl + Shift + L			→ Selecciona TODAS las ocurrencias
# | Ctrl + Alt + i				→ Abrir y cerrar copilot

# 🎯 SELECCIÓN COMPLEJA
# | Shift + Alt + Arrastrar		→ Selección en bloque (columnas)
# | Ctrl + Alt + ↑/↓			→ Múltiples cursores (arriba/abajo)

# 📂 VENTANAS Y NAVEGACIÓN
# | Ctrl + Shift + E			→ Explorador de archivos
# | Ctrl + W					→ Cerrar pestaña actual
# | Ctrl + `					→ Abrir/cerrar terminal
# | Ctrl + \					→ Dividir editor en paneles
# | Ctrl + 1 / 2				→ Saltar entre paneles
# | Ctrl + P					→ Buscar archivo por nombre
# | Ctrl + K + Ctrl + W			→ Cerrar TODAS las pestañas
